<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxzy.mybatis.mapper.UserMapper">
<sql id="selector">
select * from user

</sql>

<select id="findUserByQueryVo" parameterType="QueryVo" resultType="User">
	select * from user where username like "%"#{user.username}"%"


</select>

<select id="countUser"  resultType="Integer">
	
select count(*) from user

</select>

<select id="selectUserBySexAndUserName" parameterType="user" resultType="user">
	<include refid="selector"></include>
<where>
<if test="username!=null and username!=''">
	and username=#{username}

</if>

<if test="sex!=null and sex!=''">

and sex=#{sex}

</if>


</where>

</select>

<select id="selectUserByIds" parameterType="list" resultType="user">
	<include refid="selector"></include>
	<where>
	<foreach collection="list" item="id" separator="," open="id in(" close=")">
	
	#{id}
	
	
	
	</foreach>
	
	
	
	</where>


</select>

</mapper>